/* ChatPane.css */

* {
  padding: 0;
}

.chat-pane {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Or any other value you'd like */
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #F6F4F4;
}

.message {
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #e4e4e4;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
  width: fit-content;
  max-width: 80%; /* So longer messages don't span the full width */
}


.message.user {
  text-align: right;
  background-color: #FCFCFC;
  margin-left: auto;
  align-self: flex-end;
}

.message.bot {
  text-align: left;
  background-color: #FCFCFC;
  align-self: flex-self;
}

.messenger-name {
  font-weight: 500;
  font-style: italic;
  color: #9c9c9c;
  font-size: 12px;
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
  background-color: #ffffff;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  outline: none;
  /* margin-right: 10px; */
  height: 20px;
  margin: auto;
}

button {
  background-color: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.basic-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  box-shadow: none;
  width: 30px;
}

.basic-button:hover {
  background: none;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}


/* button:hover {
  background-color: #e0e0e0;
  color: #000000;
} */
