* {
  padding: 0;
}

.home-container {
  display: flex;
  height: 100vh; /* Adjust as needed */
}

.sidebar {
  width: 20%; /* reduced width */
  overflow: auto;
  background: #f4f4f4; 
  box-shadow: 1px 1px 5px rgb(209, 209, 209);
}

.file-structure, .modules {
  padding: 20px;
}

.file-content {
  width: 50%; /* new section, adjust width as needed */
  overflow: auto;
  padding: 20px;
}

.chat-interface {
  width: 30%; /* reduced width */
  background: #f4f4f4;
  overflow: auto;
}

h2 {
  color: #444;
}
